<h1>Application</h1>

<h3> <%= @application.name %> </h3>
<p> <%= @application.address %> </p>
<p> <%= @application.city %> </p>
<p> <%= @application.state %> </p>
<p> <%= @application.zip %> </p>
<p> <%= @application.reason %> </p>
<% @application.pets.each do |pet| %> 
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
     <% end %>
<p>Application Status: <%= @application.status %> </p>

<% if @application.status == "in progress" %>
    <%= form_with url:"/applications/#{@application.id}", method: :get, local: true do |f| %>
    <h2> Add A Pet to this Application</h2>
        <%= f.label :search %>
        <%= f.text_field :search %>
        <%= f.submit "Search" %>
    <% end %>

    <% if @search_pets != nil %>
        <% @search_pets.each do |pet| %>
        <h3><%= pet.name %></h3>
        <p>Age: <%= pet.age %></p>
        <p>Breed: <%= pet.breed %></p>
        <p>Adoptable: </p>
        <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
        <%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %>
        <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
        <%= button_to "Adopt #{pet.name}", "/applications/#{@application.id}/add_pet", method: :post, params: {pet_id: pet.id} %>
        <% end %>
    <% end %>

<% end %>

<%= render partial: "submit_reason" if @application.pets.count > 0 %>
